html,body,div,span,

h1,h2,h3,h4,h5,h6,

p,blockquote,q,em,img,small,strong,

dl,dt,dd,ol,ul,li,fieldset,form,label,legend{border:0;outline:0;margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent}

body{line-height:1}

ol,ul{list-style:none}

:focus{outline:0}

input,textarea{margin:0;outline:0;}

textarea{overflow:auto; resize:none;}

table{border-collapse:collapse;border-spacing:0}

/* End Reset */



/* html5 */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }



@font-face {

    font-family: 'cabinregular';

    src: url('../webfonts/cabin-regular-webfont.eot');

    src: url('../webfonts/cabin-regular-webfont.eot?#iefix') format('embedded-opentype'),

         url('../webfonts/cabin-regular-webfont.woff') format('woff'),

         url('../webfonts/cabin-regular-webfont.ttf') format('truetype'),

         url('../webfonts/cabin-regular-webfont.svg#cabinregular') format('svg');

    font-weight: normal;

    font-style: normal;



}



/* Default Font Styles

______________________*/

body, input, select, textarea{

	font-family:Helvetica, Arial, sans-serif;

	font-size:12px;

	color:#000;

	line-height:1;

	background:#000;

}

html, body {

	height: 100%;

	margin:0;

	position:relative;

}

body{

	background:#000 url(../images/texture.png) center top no-repeat;

}

#footer-wrap, .push{

	min-height:146px;

}

#footer-wrap {

	background:#9f9f9f;

	margin:0;

	/*position:fixed; */

	left:0;

	bottom:0;

	right:0;

	width:100%;

}



/* Headings

______________________*/

h1{

	font-family: 'cabinregular';

	font-size:41px;

	color:#fff;

	margin-bottom:14px;

}

h2{

	font-family: 'cabinregular';

	font-size:24px;

	margin-bottom:10px;

	text-transform:uppercase;

}

h3{

	color:#fdb945;

	text-transform:uppercase;

}

h4{

	font-family: 'cabinregular';

	font-size:11px;

	color:#fff;

	margin-bottom:2px;

}





/* Links

______________________*/

a{ 

	text-decoration:none;

}

a:hover {

	text-decoration:underline;

}



/* p, blockquote, address

______________________*/

p{

	font-size:12px;

	color:#000;

	line-height:22px;

	padding-bottom:15px;

}

/* Layout 

______________________*/

.wrapper{

	min-height: 100%;

	height: auto !important;

	height: 100%;

	margin-bottom:-146px; /* height of footer */

}

#container-fluid{

	padding-bottom:20px;

}

#container-fix{

}

.content-width{

	width:1090px;

	margin:0 auto;

}

/* Header

______________________*/

#header-wrap{

	position:absolute;

	left:50%;

	top:0;

	width:1090px;

	margin-left:-545px;

}

#header{

	margin-bottom:5px;

	display:inline-block;

}

#logo{

	float:left;

	width:157px;

	margin:14px 30px 18px 0;

}

#logo img{

	display:block;

}

#ie7 #logo img{

	display:block;

	margin-bottom:30px;

}

#nav-ticket{

	float:right;

	width:880px;

}



/* Navigation

______________________*/

#nav{

	float:left;

	margin-left:10px;

}

#nav li{

	float:left;

	padding:16px 22px 0 7px;

	border-left: 2px solid #fff;

}

#nav li.active{

	color:#fdb945;

}

#nav li.last{

	padding-right:0;

}

#nav a{

	font-family: 'cabinregular';

	color:#fff;

	font-size:23px;

	font-weight:bold;

	display:inline-block;

}

#nav a:hover{

	text-decoration:none;

	color:#fdb945;

}

#nav li:hover > ul{

	display:block;

}

#nav li:hover > a{

	color:#fdb945;

}

.ticket{

	float:right;

	width:216px;

	margin-right:25px;

}

.get-tickets{

	margin-bottom:10px;

}

#get-tickets,

.calendar,

.donate{

	font-family: 'cabinregular';

	background:#939393;

	display:block;

	text-align:center;

	text-transform:capitalize;

	color:#fdb945;

	font-size:26px;

	font-weight:bold;

	padding:15px 10px 8px 10px;

	margin-bottom:2px;

}

#get-tickets{

	width:196px;

}

#get-tickets:hover,

.calendar:hover,

.donate:hover{

	text-decoration:none;

}

.calendar{

	float:left;

	width:87px;

}

.donate{

	float:right;

	width:75px;

}

.calendar,

.donate{

	display:inline-block;

	font-size:17px;

	padding:7px 13px 4px 13px;

	margin:0px;

}

.search-bar{

	position:relative;

	text-align:right;

	margin-right:0;

}

.search-bar label{

	color:#fff;

	font-family: 'cabinregular';

	font-size:14px;

	margin-right:8px;

	display:inline-block;

	vertical-align:middle;

	font-weight:bold;

}

.search-field{

	background:#fff;

	border:1px solid #e4e4e4;

	height:10px;

	width:123px;

	font-family:Arial, Helvetica, sans-serif;

	font-size:12px;

	color:#000;

	padding:3px 15px 3px 5px;

	vertical-align:middle;

}

.search-btn{

	background:url(../images/search-btn.jpg) no-repeat right top;

	height:16px;

	width:11px;

	cursor:pointer;

	padding:0;

	border:0;

	position:absolute;

	right:2px;

	top:1px;

	vertical-align:middle;

}

/* Sub Navigation

______________________*/

#nav li ul{

	display:none;

	padding-top:5px;

}

#nav li ul li{

	border:none;

	float:none;

	padding:0;

	margin-bottom:5px;

}

#nav li ul a{

	font-size:12px;

	font-weight:normal;

	color:#fdb945;

}

#nav li ul li.last{

	margin-bottom:0;

}

#nav li ul{

}

#nav li ul a:hover{

	color:#9f9f9f;

}

/*  Main Area

-------------------------------------- */

#main-wrap{

	padding-top:145px;

}
#showpage #main-wrap{
	padding-top:128px;
}

#main{

	background:#fff url(../images/main-border.jpg) repeat-y right top;

	padding-top:12px;

	margin-bottom:16px;

}

.social-links-inner-nav{

	margin-bottom:17px;

}

.inner-nav{

	float:left;

	width:350px;

	padding-right:30px;

}

.inner-nav li.last{

	border:none;

	margin-right:0;

	padding-right:0;

}

.inner-nav ul li{

	float:left;

	margin-right:14px;

	border-right:1px solid #fff;

	padding-right:12px;

}

.inner-nav li a{

	font-family: 'cabinregular';

	font-size:12px;

	font-weight:bold;

	display:inline-block;

	color:#fff;

}

.inner-nav li a:hover,

.inner-nav li a.active{

	text-decoration:none;

	color:#fdb945;

}

.social-media{

	float:left;

	width:270px;

}

/* asc-template

--------------------------------------*/

.asc-template,

.asc-calendar{

	border-top:2px solid #feb745;

}

#contents{

	float:right;

	width:924px;

}

.page-detail{

	padding-top:33px;

	float:left;

	width:350px;

	margin-right:15px;

}

.image{

	float:right;

	width:547px;

	border-bottom:2px solid #feb745;

}

.image img{

	display:block;

}

.page-detail-2{

	float:left;

	width:450px;

	margin-right:57px;

	margin-top:35px;

}

.news-feed{

	float:right;

	width:378px;

	border-left:2px solid #feb745;

	padding-top:20px;

	position:relative;

}

.news-feed h2{

	margin-left:8px;

	margin-bottom:17px;

}

.news-feed li{

	margin-left:-24px;

	padding-bottom:17px;

}

.year{

	position:absolute;

	left:-18px;

	top:17px;

}

.dates{

	float:left;

	width:40px;

	background:#fdb945;

	text-align:center;

	padding:7px 0 4px 0;

}

.dates span{

	font-family: 'cabinregular';

	font-weight:bold;

}

.feeds{

	float:right;

	width:343px;

	margin:0 9px;

}

.feeds a{

	color:#fdb945;

	text-decoration:underline;

	font-size:11px;

	text-transform:capitalize;

}

.feeds span,

.feeds span a{

	font-size:11px;

	color:#000;

}

.feeds span a{

	text-decoration:none;

}

.onstage-box{

	position:relative;

}

.onstage-box img{

	display:block;

	border-top:2px solid #feb745;

}

.onstage-box p{

	position:absolute;

	left:17px;

	bottom:11px;

}

.onstage-box p,

.onstage-box a{

	padding-bottom:0;

	font-weight:bold;

	color:#000;

	line-height:1;

}

.onstage-box span{

	display:inline-block;

	margin-right:16px;

	text-transform:capitalize;

}

.onstage-box .date-month{

	margin-left:14px;

	margin-right:0;

}

.onstage-box a:hover{

	text-decoration:none;

}

#sidebar{

	float:left;

	width:120px;

	margin:33px 17px 33px 22px;

}

#sidebar ul li{

	margin-bottom:9px;

}

#sidebar ul li a{

	color:#fdb945;

	font-size:12px;

}

#sidebar ul li a:hover{

	text-decoration:none;

}

.asc-template .last{

	padding-bottom:0;

}

/* asc-calendar

--------------------------------------*/

#calendar-page .asc-calendar{

	padding-left:14px;

}

#calendar{

	border-left:2px solid #feb745;

	padding-top:11px;

	padding-bottom:3px;

	position:relative;

	padding-left:3px;

}

#ie7 #calendar{

	padding-left:2px;

}

#calendar h2{

	float:left;

	width:125px;

	margin-left:11px;

	text-transform:capitalize;

	margin-right:160px;

	margin-bottom:21px;

}

.months-year{

	width:580px;

	padding-bottom:24px;

	text-align:center;

	position:absolute;

	left:213px;

	top:-14px;

}

#ie7 .months-year{

	width:485px;

	float:left;

	position:static;

}

#ie7 .months-year a{

	display:inline-block;

	vertical-align:middle;

}

#ie7 .months-year span{

	display:inline-block;

	vertical-align:middle;

}

.months-year .left{

	background:url(../images/left-errow.jpg) no-repeat left center;

	padding-left:45px;

	margin-right:15px;

}

.months-year .right{

	background:url(../images/right-errow.jpg) no-repeat right center;

	padding-right:45px;

	margin-left:15px;

}

.months-year .current-month{

	font-size:20px;

	color:#000;

	background:#fdb945;

	padding:20px 22px 18px 20px;

}

.months-year a,

.current-month{

	font-family: 'cabinregular';

	font-size:19px;

	color:#fdb945;

	font-weight:bold;

	text-decoration:none;

	display:inline-block;

}

.view-links{

	float:right;

	width:220px;

}

.view-links ul{

	margin-right:22px;

}

.view-links ul li{

	float:left;

	color:#000;

	margin-right:5px;

}

.view-links li a{

	font-size:10px;

	color:#000;

	display:inline-block;

	text-transform:uppercase;

	font-weight:bold;

}

.view-links li a:hover{

	text-decoration:none;

	color:#fdb945;

}

.view-links li a.active{

	color:#fdb945;

}

#calendar table{

	margin-left:1px;

}

#calendar th{

	font-size:13px;

	padding-bottom:3px;

	color:#fdb945;

}

#calendar td{

	width:147px;

	height:120px;

	background:#e8e8e8;

	border:2px solid #fff;

	vertical-align:top;

}

.td-content p{

	line-height:1.2;

	padding-bottom:7px;

}
.td-content a{
	color:#000;
}

.td-content strong{

	display:block;

}

.td-content{

	position:relative;

	min-height:84px;

	padding:14px 13px 22px 13px;

}

.date-text{

	background:#fdb945;

	padding:6px 5px 4px 5px;

	width:34px;

	font-family: 'cabinregular';

	font-weight:bold;

	font-size:13px;

	position:absolute;

	left:0;

	bottom:0;	

}



/* show-page

--------------------------------------*/

#showpage .wrapper{

	background:url(../images/manwithsword_3.png) no-repeat center bottom;

	background-size:cover;

}

#ie7 #showpage .background{

	background:url(../images/manwithsword_3.png) no-repeat center bottom;

}

#showpage #main,

#homepage #main{

	background:none;

	padding-top:0;

}

#showpage .search-bar,

#homepage .search-bar{

	text-align:right;

	margin-right:0;

}

#showpage .search-bar label,

#homepage .search-bar label{

	color:#fff;

	font-family: 'cabinregular';

	font-size:14px;

	font-weight:bold;

}

#showpage .search-field,

#homepage .search-field{

	width:90px;

	font-family:Arial, Helvetica, sans-serif;

	font-size:12px;

	color:#000;

	padding:3px 10px 3px 10px;

}

#showpage .search-btn,

#homepage .search-btn{

	background:none;

	position:static;

	color:#fff;

	font-size:14px;

	font-family: 'cabinregular';

	font-weight:bold;

	margin-left:5px;

	text-decoration:none;

}

.content-left{

	float:left;

	width:395px;

	margin-right:5px;

}

.tabs ul{

	width:352px;

	border:2px solid #5f5e5d;

}

.tabs ul li{

	border-right:2px solid #5f5e5d;

	border-bottom:2px solid #5f5e5d;

	float:left;

	width:175px;

	position:relative;

}

.tabs ul li.second{

	border-right:none;

	border-bottom:2px solid #5f5e5d;

}

.tabs ul li.last{

	border-bottom:none;

}

.tabs ul li a{

	display:block;

}

.tabs li em{

	font-style:normal;

	font-family: 'cabinregular';

	font-size:18px;

	color:#fff;

	font-weight:bold;

	position:absolute;

	right:11px;

	top:45%;

}

.overlay{

	background:url(../images/tab-li-overlay.png) repeat;

	position:absolute;

	left:0;

	right:0;

	bottom:0;

	top:0;

	width:100%;

}

#tabs{

	padding-bottom:61px;

	position:relative;

}

.tabs-button{

	position:absolute;

	left:0;

	bottom:26px;

	margin-bottom:0;

}

.tabs ul li a:hover .overlay{

	display:none;

}

.tabs ul li a.active .overlay{

	display:none;

}

.tabs-button li{

	float:left;

	margin-right:2px;

}

.tabs-button li a{

	display:block;

	font-family: 'cabinregular';

	font-weight:bold;

	font-size:12px;

	color:#fff;

	padding:9px 4px;

	text-transform:uppercase;

}

.tabs-button li a:hover{

	text-decoration:none;

}

.tabs-button .ui-state-active a{

	background:#989898;

	color:#fdb945;

	font-size:17px;

	text-decoration:none;

}

.ui-tabs .ui-tabs-hide { display: none !important;}



.additional-info div{

	padding-left:38px;

	margin-bottom:12px;

}

.additional-info .last{

	margin-bottom:0;

}

.cast{

	background:url(../images/cast-bg.jpg) 0 center no-repeat;

	width:100%;

}

.director{

	background:url(../images/director-bg.jpg) 0 center no-repeat;

	width:100%;

}

.multimedia{

	background:url(../images/multimedia-bg.jpg) 0 center no-repeat;

	width:100%;

}

.stuff{

	background:url(../images/stuff-bg.jpg) 0 center no-repeat;

	width:100%;

}

.people-saying{

	background:url(../images/peoplesaying-bg.jpg) 0 center no-repeat;

	width:100%;

}

.additional-info h2{

	color:#fff;

}

.additional-info a{

	display:inline-block;
	min-height:30px;
	line-height:30px;
	color:#fdb945;

	text-decoration:underline;
}

.additional-info p{

	color:#c5c5c5;

	line-height:1;

}

.content-right{

	float:left;

	width:410px;

}

.content-right p{

	font-size:13px;

	line-height:18px;

	color:#c5c5c5;

}

.ticket-now{

	font-family: 'cabinregular';

	font-weight:bold;

	color:#fdb945;

	font-size:25px;

	text-decoration:none;

	display:inline-block;

	text-transform:uppercase;

	margin-bottom:22px;

}

.special-events span{

	display:inline-block;

	font-size:12px;

	line-height:17px;

	color:#fff;

}

.events{

	font-weight:bold;

	font-size:17px;

	color:#fff;

	margin-bottom:2px;

}

/* home-page

--------------------------------------*/

#homepage .wrapper{

	background:url(../images/couple-image_02.png) no-repeat center bottom;

	background-size:cover;

}

#ie7 #homepage .wrapper{

	background:url(../images/couple-image_02.png) no-repeat center bottom;

}

.content-home{

	width:390px;

}

.home-feeds div{

	background:none;

	padding-left:0;

}

.home-feed-detail a.heading{

	margin-right:13px;

	display:inline-block;

}

.home-feed-detail h3 span{

	display:inline-block;

	margin-left:13px;

	color:#fff;

}

.home-feed-detail p{

	line-height:20px;

}

.home-feed-detail p a{

	color:#C5C5C5;

	text-decoration:none;

}

/*  Footer 

-------------------------------------- */

#footer-wrap{

	padding:0 0 9px 0;

}

#footer{

	padding:0 7px 0 13px;

}

#footer p{

	font-family: 'cabinregular';

	font-size:10px;

	line-height:14px;

	color:#e6e6e6;

	padding-bottom:5px;

}

#sponsor-section{

	float:left;

	width:276px;

	background:url(../images/footer-section-border.jpg) no-repeat;

	background-position:right top;

	padding-top:13px;

}

.sponsor{

	padding-bottom:6px;

}

.sponsor li{

	float:left;

	margin-right:10px;

}

.sponsor li.first{

	margin-right:15px;

}

#footer-detail{

	float:right;

	width:782px;

	padding-top:18px;

}

.footer-sections{

	float:left;

	width:150px;

	margin-right:8px;

}

.footer-sections.last{

	margin-right:0;

}

#footer .footer-sections li{

	margin-bottom:2px;

}

#footer .footer-sections li a{

	display:inline-block;

	color:#E6E6E6;

	font-size:10px;

}



.fl{ float:left}

.fr{ float:right}

.cl{ clear:both; font-size:0; height:0; }

.clearfix:after {

	clear: both;

	content: ' ';

	display: block;

	font-size: 0;

	line-height: 0;

	visibility: hidden;

	width: 0;

	height: 0;

}



/* Alignments */

.center { text-align:center }

.right { text-align:right }

.top {vertical-align:top }

.middle { vertical-align:middle }



@media (max-width: 1200px) {

    .content-width{

		width:1024px;

	}

	#logo{

		margin-right:10px;

		margin-left:10px;

	}

	#nav-ticket{

		margin-right:0;

		width:844px;

	}

	#nav{

		margin-left:10px;

	}

	.social-links-inner-nav{

		margin:0 15px 17px;

	}

	#sponsor-section{

		width:273px;

	}

	#footer-detail{

		width:720px;

	}

	.footer-sections{

		width:135px;

	}

	#showpage{

		background: #000000 url(../images/manwithsword.png) no-repeat scroll 600px 115px;

	}

	#header-wrap {

		left: 50%;

		position: absolute;

		top: 0;

		width:1024px;

		margin-left:-512px;

	}

	#template-page #contents{

		width:850px;

	}

	#template-page .page-detail{

		width:293px;

		margin-right:4px;

	}

	#template-page .page-detail-2{

		width:394px;

		margin-right:18px;

	}

	#template-page .news-feed{

		width:378px;

		margin-top:-66px;

	}

	#calendar-page #main{

		padding-right:13px;

	}

	.months-year{

		left:189px;

	}

	#main{

		padding:0 10px;

	}

	#sidebar{

		margin-right:11px;

	}

}

@media (max-width: 1023px) {

 	.content-width{

		width:750px;

	}

	#homepage #footer-wrap{

		padding:36px 0;

	}

	.content-home{

		width:356px;

		margin:0 auto;

	}

	#homepage{

		background:#000;

	}

	#logo{

		width:120px;

		margin-right:0;

	}

	#logo img{

		width:120px;

	}

	#nav-ticket{

		margin-right:0;

		width:619px;

	}

	#nav{

		margin-left:0;

	}

	#nav li{

		padding-right:18px;

	}

	#nav a{

		font-size:18px;

	}

	#nav li ul a{

		font-size:10px;

	}

	.ticket{

		width:140px;

		margin-right:0;

	}

	#get-tickets{

		width:140px;

	}

	.get-tickets{

		margin-bottom:7px;

	}

	#get-tickets, .calendar, .donate{

		font-size:19px;

		padding:15px 0px 8px;

	}

	.calendar, .donate{

		font-size:11px;

		padding:7px 6px 4px;

	}

	#showpage .search-bar, #homepage .search-bar{

		margin-right:0;

		text-align:left;

	}

	#showpage .search-bar label, #homepage .search-bar label{

		font-size:9px;

	}

	#showpage .search-field, #homepage .search-field{

		width:65px;

		padding:3px 4px;

	}

	#showpage .search-btn, #homepage .search-btn{

		font-size:12px;

	}

	#showpage #main{

		margin:0;

	}

	#main-wrap{

		padding-top:130px;

	}

	.content-left{

		width:371px;

	}

	.content-right{

		width:340px;

	}

	.search-bar label{

		margin-right:4px;

		font-size:12px;

	}

	#showpage .search-btn, #homepage .search-btn{

		margin-left:2px;

		font-size:9px;

	}

	#footer-wrap{

		position:static;

	}

	#footer{

		padding:0;

	}

	#sponsor-section{

		width:100%;

		text-align:center;

		background:none;

		float:none;

	}

	#footer p{

		padding-bottom:10px;

		font-size:12px;

	}

	.sponsor{

		margin-left:248px;

		padding-bottom:10px;

	}

	.sponsor li{

		margin-right:15px;

	}

	#footer-detail{

		width:750px;

		float:none;

		padding-top:10px;

	}

	.footer-sections{

		margin-right:7px;

	}

	.wrapper{

		margin-bottom:0;

		min-height:0;

	}

	#footer-wrap, .push{

		min-height:0;

	}

	#footer-wrap{

		padding:18px 0;

	}

	#showpage{

		background:#000;

	}

	#template-page .search-bar{

		margin-right:0;

	}

	#template-page .search-field{

		width:65px;

	}

	#template-page #sidebar{

		width:97px;

		margin-right:2px;

	}

	#template-page h2{

		font-size:19px;

	}

	#template-page #contents{

		width:590px;

	}

	#template-page #sidebar ul li a{

		font-size:11px;

	}

	#template-page .page-detail{

		padding-top:28px;

		float:none;

		margin-right:11px;

		width:auto;

	}

	#template-page .image{

		float:none;

		margin-top:15px;

	}

	#template-page .news-feed{

		float:none;

		margin-left:14%;

		margin-top:0;

	}

	#template-page .page-detail-2{

		float:none;

		width:auto;

	}

	.table-horizental-scroll{

		display:block;

	}

	.table-horizental-scroll thead{

		float:left;

	}

	#calendar th{

		height:120px;

		line-height:120px;

	}

	.table-horizental-scroll th,

	.table-horizental-scroll td{

		display:block;

	}

	.table-horizental-scroll tr{

		display:inline-block;

		vertical-align:top;

	}

	.table-horizental-scroll.table-bordered th,

	.table-horizental-scroll.table-bordered tbody tr:first-child td:first-child,

	.table-horizental-scroll.table-bordered td{

		border:none;

		text-align:left;

	}

	.table-horizental-scroll tbody{

		display: block;

		overflow-x: auto;

		position: relative;

		white-space: nowrap;

		width: auto;

	}

	#calendar-page #main{

		padding:12px 15px 0 0;

	}

	#calendar h2{

		margin-right:0;

		width:auto;

		font-size:19px;

	}

	#calendar-page .months-year{

		left:100px;

		margin-top:-14px;

		top:0;

		width:430px;

	}

	#calendar-page .search-field{

		width:65px;

	 }

	 #calendar-page .search-bar{

		 margin-right:0;

	 }

	.months-year .left,

	.months-year .right{

		margin-left:15px;

	}

	.months-year a, .current-month{

		font-size:13px;

	}

	.months-year .current-month{

		font-size:16px;

		padding:15px 16px 12px 14px;

	}

	.view-links{

		width:175px;

	}

	.view-links li a{

		font-size:8px;

	}

	#showpage .wrapper,

	#homepage .wrapper{

		 background:none;

	 }

	 #header-wrap {

		left: 50%;

		position: absolute;

		top: 0;

		width:750px;

		margin-left:-375px;

	}

	.calendar{

		width:64px;

	}

	.donate{

		width:49px;

	}

}

@media (max-width: 767px) {

    .content-width{

		 width:auto;

		 max-width:480px;

	 }

	 #main-wrap{

		 padding-top:375px;

	 }

	 #header-wrap{

		 width:100%;

	 }

	 #header{

		 width:462px;

	 }

	 #header-wrap {

		left: 50%;

		position: absolute;

		top: 0;

		max-width:480px;

		margin-left:-240px;

	}

	 #logo{

		 float:none;

		 margin:0 auto;

		 margin-top:15px;

		 width:100%;

	 }

	 #logo img{

		 margin:0 auto 6px;

		 width:140px;

	 }

	 #nav-ticket{

		 float:none;

		 width:100%;

	 }

	 #nav{

		 margin-bottom:3px;

		 text-align:center;

		 float:none;

	 }

	 #nav li{

		 float:none;

		 width:100%;

		 padding:10px 18px 10px 0;

		 border-bottom:2px solid #fff;

		 border-left:none;

	 }

	 #nav li.last{

		 border-bottom:none;

	 }

	 .ticket{

		 float:none;

		 margin:0 auto;

		 width:140px;

	 }

	 #footer{

		 margin:0 10px;

	 }

	 #footer-detail{

		 width:100%;

	 }

	 .footer-sections{

		 min-height:115px;

	 }

	 .sponsor{

		 margin-left:111px;

	 }

	 .content-left{

		 width:360px;

		 float:none;

		 margin:0 auto;

	 }

	 .content-right{

		 width:450px;

		 float:none;

		 margin:25px auto 0;

	 }

	 h1{

		 text-align:center;

	 }

	 .social-links-inner-nav{

		 padding-top:17px;

	 }

	 .inner-nav{

		 padding-bottom:10px;

	 }

	 #template-page #sidebar{

	 	float:none;

		margin:15px 0;

		text-align:center;

		width:auto;

	 }

	 #template-page #contents{

	 	float:none;

		margin:0 10px;

		width:auto;

	 }

	 #template-page .page-detail{

		 margin-right:0;

		 padding-top:0;

	 }

	 #template-page .image{

		 width:428px;

	 }

	 #template-page .image img{

		 width:428px;

	 }

	 #calendar th{

		 display:none;

	 }

	 .table-horizental-scroll tr{

		 display:block;

	 }

	 #calendar td{

		 width:auto;

		 height:auto;

		 min-height:45px;

	 }

	 .td-content{

		 min-height:0;

	 }

	 .table-horizental-scroll tbody > tr td:nth-child(1) .date-text:before{

		 content:'SUN, '

	 }

	  .table-horizental-scroll tbody > tr td:nth-child(2) .date-text:before{

		 content:'MON, '

	 }

	  .table-horizental-scroll tbody > tr td:nth-child(3) .date-text:before{

		 content:'TUE, '

	 }

	  .table-horizental-scroll tbody > tr td:nth-child(4) .date-text:before{

		 content:'WED, '

	 }

	  .table-horizental-scroll tbody > tr td:nth-child(5) .date-text:before{

		 content:'THU, '

	 }

	  .table-horizental-scroll tbody > tr td:nth-child(6) .date-text:before{

		 content:'FRI, '

	 }

	  .table-horizental-scroll tbody > tr td:nth-child(7) .date-text:before{

		 content:'SAT, '

	 }

	 .date-text{

		 -moz-box-sizing:border-box;

		 -webkit-box-sizing:border-box;

		 box-sizing:border-box;

		 width:100%;

		 display:inline-block;

	 }

	 .td-content{

		 text-align:center;

	 }

	 #calendar td.empty{

		 display:none;

	 }

	 #calendar-page .search-bar{

		 margin-right:0;

	 }

	 #calendar-page .search-field{

		 width:65px;

	 }

	 #calendar h2{

		 float:none;

		 text-align:center;

		 width:auto;

		 margin-bottom:6px;

		 margin-top:30px;

	 }

	 #calendar-page .months-year{

		 left:0;

		 width:100%;

	 }

	 #calendar-page .view-links{

		 float:none;

		 width:auto;

		 margin-left:158px;

		 margin-bottom:26px;

	 }

	 #showpage .wrapper,

	 #homepage .wrapper{

		 background:none;

	 }

}



@media (max-width: 479px) {

	#header{

		width:100%;

	}

	#nav li{

		width:auto;

	}

	.content-home{

		 width:auto;

	 }

	#main-wrap{

		padding-right:15px;

		padding-left:15px;

	}

	.social-links-inner-nav{

		margin:0;

	}

	.content-left{

		width:100%;

	}

	.tabs ul{

		width:100%;

	}

	.tabs ul li{

		width:100%;

	}

	.tabs ul li.last{

		border-bottom:2px solid #5F5E5D;

	}

	.tabs-button li a{

		font-size:8px;

	}

	.tabs-button li{

		margin-right:0;

	}

	.tabs-button .ui-state-active a{

		font-size:11px;

	}

	.tabs-button{

		bottom:32px;

	}

	.additional-info div{

		width:auto;

	}

	.content-right{

		width:100%;

	}

	.inner-nav{

		float:none;

		width:auto;

		padding-right:0;

		padding-bottom:10px;

	}

	.inner-nav li a{

		font-size:10px;

	}

	.sponsor{

		margin-left:45px;

	}

	#footer{

		padding:0 8px;

	}

	#template-page #header{

		width:100%;

	 }

	 #template-page .image{

		 width:258px;

	 }

	 #template-page .image img{

		 width:258px;

	 }

	 #template-page .news-feed{

		 width:auto;

	 }

	 #template-page .feeds{

		width:196px;

	 }

	 #template-page .onstage-box{

		width:211px;

	 }

	 #template-page .onstage-box img{

		width:211px;

	 }

	 #calendar-page .months-year .left, .months-year .right{

		 margin-left:0;

	 }

	 #calendar-page .months-year .left{

		 margin-right:1px;

		 padding-left:31px;

	 }

	 #calendar-page .months-year .current-month{

		 font-size:12px;

		 padding:15px 8px 12px 6px;

	 }

	 #calendar-page .months-year .right{

		 padding-right:31px;

	 }

	 #calendar-page .months-year a, .current-month{

		 font-size:9px;

	 }

	 #calendar h2{

		 margin-top:22px;

		 font-size:15px;

	 }

	 #calendar-page .view-links{

		 margin-left:39px;

	 }

	 #showpage .wrapper,

	 #homepage .wrapper{

		 background:none;

	 }

	 #header-wrap {

		margin-left:-160px;

	}

}